[submodule "angular-client"]
	path = angular-client
	url = https://github.com/DemeBot/angular-client.git
[submodule "plant-service"]
	path = plant-service
	url = https://github.com/DemeBot/plant-service.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/DemeBot/gateway.git
[submodule "serial-service"]
	path = serial-service
	url = https://github.com/DemeBot/serial-service.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/DemeBot/mysql.git
[submodule "tool-service"]
	path = tool-service
	url = https://github.com/DemeBot/tool-service.git
[submodule "plot-service"]
	path = plot-service
	url = https://github.com/DemeBot/plot-service.git
